// Component file is for components such as buttons, navbars, cards, anything that is reusable. Since we have a small project our component file should be manageable.
body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 100vh;

// Technique to enable flipping the background image with "transform: scale":
    &:before { 
        background: url(../../dist/images/background.jpg);
        background-position:(50% 70%); // Image positioning to better reflect the original design
        filter: brightness(70%);
        background-size: cover;
        content: "";
        height: 100%;
        position: absolute;
        transform: scaleX(-1);
        width: 100%;
        z-index: -1;
    }
}

.container {
    margin: auto;
    width: 1000px;
}